<mat-toolbar [ngClass]="{'red': (currentPlayer === 'Red'), 'blue': (currentPlayer === 'Blue')}">
  <mat-toolbar-row>
    <span class="fill"></span>
    <span>Memory Test Game</span>
    <span class="fill"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Red: {{redScore}}</span>
    <span class="fill"></span>
    <button mat-button (click)="newGame()">New Game</button>
    <span class="fill"></span>
    <span>Blue: {{blueScore}}</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span><i *ngFor="let card of redCards" class="material-icons">{{card.icon}}</i></span>
    <span class="fill"></span>
    <span><i *ngFor="let card of blueCards" class="material-icons">{{card.icon}}</i></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="card-container">
  <mat-card *ngFor="let card of gameCards" class="game-card" (click)="chooseCard(card)" [ngClass]="card.class">
    <i *ngIf="card.showIcon" class="material-icons">{{card.icon}}</i>
  </mat-card>
</div>